.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p{
  color: red
}

input{
  display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
}

label{
  margin-bottom: 5px;
}

form{
  display: flex;
  text-align: left;
  margin: 10px auto;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  align-items: right;
  border: 3px gray solid;
  border-radius: 10px;
  background-color: lightgray;

}

button {
  display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
   cursor: pointer;

}

div{
  display: flex;
    text-align: center;
    margin: 10px;
    padding: 5px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 3px white solid;
    border-radius: 10px;
    width: fit-content;
}

